#payee-main td.details-control {
  cursor: pointer;
}

#payee-main tr.shown td.details-control .fa-caret-square-o-right,
#payee-main td.details-control .fa-caret-square-o-down {
  display: none;
}

#payee-main td.details-control .fa-caret-square-o-righ,
#payee-main tr.shown td.details-control .fa-caret-square-o-down {
  display: inline;
}

.btn.btn-margin-left-right-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.has-error .select2.select2-container .select2-selection {
  border: solid #a94442 1px;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

.has-error .field-error-message,
.has-error .form-control-label {
  color: #a94442;
}
